<div class="container mt-4">
    <h2 *ngIf="!isEditMode">Ajouter une matière</h2>
    <h2 *ngIf="isEditMode">Modifier une matière</h2>

    <form [formGroup]="matiereForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="libelle" class="form-label">Libellé</label>
            <input type="text" id="libelle" class="form-control" formControlName="libelle">
        </div>

        <div class="mb-3">
            <label for="coefficient" class="form-label">Coefficient</label>
            <input type="number" id="coefficient" class="form-control" formControlName="coefficient">
        </div>

        <div class="mb-3">
            <label for="horaire" class="form-label">Horaire</label>
            <input type="number" id="horaire" class="form-control" formControlName="horaire">
        </div>

        <button type="submit" class="btn btn-primary me-2">
      {{ isEditMode ? 'Mettre à jour' : 'Enregistrer' }}
    </button>
        <button class="btn btn-secondary" [routerLink]="['/matieres/matieres']">Annuler</button>
    </form>
</div>