<div class="page-header mb-4 text-center">
    <h2 class="fw-bold text-primary">📋 Liste des élèves par classe</h2>
  </div>
  
  <form [formGroup]="studentForm" (ngSubmit)="rechercher()" class="card shadow-sm p-4">
    <div class="row g-3 align-items-end">
      <!-- Sélection de la classe -->
      <div class="col-md-4">
        <ng-select 
        [items]="classes"
        bindLabel="nom"
        bindValue="id"
        class="form-control"  
        placeholder="Classe"
        formControlName="classe"
      >         
      </ng-select>
      </div>
  
      <!-- Sélection de l'année scolaire -->
      <div class="col-md-4">
        <ng-select 
          [items]="anneeuvs"
          bindLabel="nom"
          bindValue="id"
          class="form-control"  
          placeholder="Année scolaire"
          formControlName="anneeuv"
        >         
        </ng-select>
      </div>
  
      <!-- Bouton de recherche -->
      <div class="col-md-4 text-center">
        <button type="submit" class="btn btn-info px-4">
          🔍 Rechercher
        </button>
      </div>
    </div>
  </form>
  
  <!-- Résultats -->
  <div class="mt-4">
    <div>{{ eleves.length }} élèves trouvés</div>
  </div>
  