<div class="row">
    <nav>
        <button class="btn btn-primary" [routerLink]="['/professeurs/professeurs']">Retour</button>
    </nav>
</div>

<div class="page-header">
    <h1>
        Enregistre un professeur à {{ etablissement }}
    </h1>
</div>

<form (ngSubmit)="onSubmit()" class="form-horizontal">

    <!-- Champ Matricule, Nom et Prénom -->
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="matricule" placeholder="Matricule" required />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="nom" placeholder="Nom" required />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="prenom" placeholder="Prénom" required />
        </div>
    </div>

    <!-- Champ Adresse, Téléphone et Email -->
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="adresse" placeholder="Adresse" required />
        </div>
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="telephone" placeholder="Téléphone" required />
        </div>
        <div class="col-sm-4">
            <input type="email" class="form-control" formControlName="email" placeholder="E-mail" required />
        </div>
    </div>

    <!-- Champ Lieu de naissance, Date de naissance et Tarif -->
    <div class="form-group row">
        <div class="col-sm-4">
            <input type="text" class="form-control" formControlName="lieun" placeholder="Lieu de naissance" required />
        </div>
        <div class="col-sm-4">
            <input type="date" class="form-control" formControlName="datedn" placeholder="Date de naissance" required />
        </div>
        <div class="col-sm-4">
            <input type="number" class="form-control" formControlName="tarif" placeholder="Tarif" required />
        </div>
    </div>

    <!-- Champ Photo -->
    <div class="form-group">
        <label for="photo" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10">
            <input type="file" class="form-control" formControlName="photo" id="fieldPhoto" />
        </div>
    </div>

    <!-- Champ Classe (facultatif, décommenté pour référence) -->
    <!--
  <fieldset>
      <legend>Affecter à une classe</legend>
      <div class="form-group">
          <div class="col-sm-2">
              <select class="form-control" formControlName="classe">
                  <option value="">Classe</option>
                  <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
              </select>
          </div>
      </div>
  </fieldset>
  -->

    <!-- Champ Matières (facultatif, décommenté pour référence) -->
    <!--
  <fieldset>
      <legend>Les Matières</legend>
      <div class="form-group row">
          <div class="col-sm-4">
              <select class="form-control" formControlName="matiere1">
                  <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.libelle }}</option>
              </select>
          </div>
          <div class="col-sm-4">
              <select class="form-control" formControlName="matiere2">
                  <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.libelle }}</option>
              </select>
          </div>
          <div class="col-sm-4">
              <select class="form-control" formControlName="matiere3">
                  <option *ngFor="let matiere of matieres" [value]="matiere.id">{{ matiere.libelle }}</option>
              </select>
          </div>
      </div>
  </fieldset>
  -->

    <!-- Champ d'enregistrement -->
    <div class="form-group">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-info">Enregistrer</button>
        </div>
    </div>

</form>