<div>
    <h5>Liste des supports</h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Structure</th>
                <th>Fichiers</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of supports; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ s.nom }}</td>
                <td>{{ s.typeSupport }}</td>
                <td>{{ s.structureSupport }}</td>
                <td>
                    <!-- Fichier principal -->
                    <div *ngIf="s.nomfichier">
                        <a [href]="backendUrl + s.nomfichier" target="_blank">Voir</a>
                    </div>

                    <!-- Chapitres -->
                    <div *ngIf="s.chapitres?.length">
                        <div *ngFor="let c of s.chapitres">
                            <a [href]="backendUrl + c.fichier" target="_blank">{{ c.titre }}</a>
                        </div>
                    </div>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="delete(s.id!)">Suppr</button>
                </td>
                <button class="btn btn-primary btn-sm" [routerLink]="['/supports/edit', s.id]">Modifier</button>


            </tr>
        </tbody>
    </table>
</div>
