<div class="page-header">
    <h1>Bulletin d'un élève de {{ etablissement }}</h1>
</div>

<form [formGroup]="formBulletin" (ngSubmit)="imprimerBulletin()" class="form-horizontal">
    <div class="form-group row">
        <div class="col-sm-3">
            <select formControlName="anneeuv" class="form-control" required>
        <option value="">-- Année scolaire --</option>
        <option *ngFor="let a of annees" [value]="a.id">{{ a.nom }}</option>
      </select>
        </div>

        <div class="col-sm-3">
            <select formControlName="classe" class="form-control" required (change)="chargerEleves()">
        <option value="">-- Choisir la Classe --</option>
        <option *ngFor="let c of classes" [value]="c.id">{{ c.nom }}</option>
      </select>
        </div>

        <div class="col-sm-4">
            <select formControlName="eleve" class="form-control" required>
        <option value="">-- Élèves --</option>
        <option *ngFor="let e of eleves" [value]="e.id">{{ e.nom }} {{ e.prenom }}</option>
      </select>
        </div>

        <div class="col-sm-2">
            <select formControlName="periode" class="form-control" required>
        <option value="">-- Période --</option>
        <option *ngFor="let p of periodes" [value]="p.id">{{ p.libelle }}</option>
      </select>
        </div>
    </div>

    <div class="form-group row mt-3">
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" (click)="produireBulletin()">
        <i class="fa fa-address-card-o"></i> Afficher le bulletin
      </button>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-success">
        <i class="fa fa-calendar"></i> Imprimer le bulletin
      </button>
        </div>
    </div>
</form>

<!-- AFFICHAGE DU BULLETIN -->
<table class="table table-bordered mt-4" *ngIf="notes.length">
    <thead>
        <tr>
            <th>Matière</th>
            <th>Note Classe</th>
            <th>Note Compo</th>
            <th>Moyenne</th>
            <th>Coefficient</th>
            <th>Moy. Coefficiée</th>
            <th>Mention</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let note of notes">
            <td>{{ note.matiere }}</td>
            <td>{{ note.note_classe }}</td>
            <td>{{ note.note_compo }}</td>
            <td>{{ note.moy }}</td>
            <td>{{ note.coefficient }}</td>
            <td>{{ note.moycoef }}</td>
            <td>{{ note.mention }}</td>
            <td>
                <button class="btn btn-info" (click)="modifierNote(note.id)">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="supprimerNote(note.id)">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
            </td>
        </tr>

        <tr>
            <td colspan="3"></td>
            <td><strong>TOTAL</strong></td>
            <td>{{ totalMoyenneCoef }}</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td><strong>Moyenne</strong></td>
            <td>{{ moyenneGenerale }}</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td><strong>OBSERVATIONS</strong></td>
            <td>{{ appreciation }}</td>
            <td colspan="4"></td>
        </tr>
    </tbody>
</table>