<div class="container mt-4">
    <div class="c-row row">
        <!-- Lien 1 -->
        <div class="col-md-4 col-lg-3 mb-3">
            <a [routerLink]="['../enseignant']" class="btn btn-outline-primary w-100 d-block p-3 text-decoration-none">
                <i class="fas fa-home me-2"></i>PAR ENSEIGNANT
            </a>
        </div>
        
        <!-- Lien 2 -->
        <div class="col-md-4 col-lg-3 mb-3">
            <a [routerLink]="['../semaine']" class="btn btn-outline-primary w-100 d-block p-3 text-decoration-none">
                <i class="fas fa-calendar me-2"></i>PAR SEMAINE
            </a>
        </div>
        
        <!-- Lien 3 -->
        <div class="col-md-4 col-lg-3 mb-3">
            <a [routerLink]="['../jour']" class="btn btn-outline-primary w-100 d-block p-3 text-decoration-none">
                <i class="fas fa-users me-2"></i>JOURNALIER
            </a>
        </div>
        
        <!-- Lien 4 -->
        <div class="col-md-4 col-lg-3 mb-3">
            <a [routerLink]="['../classe']" class="btn btn-outline-primary w-100 d-block p-3 text-decoration-none">
                <i class="fas fa-chalkboard-teacher me-2"></i>PAR CLASSE
            </a>
        </div>
        
        <!-- Lien 5 -->
        <div class="col-md-4 col-lg-3 mb-3">
            <a [routerLink]="['../new']" class="btn btn-outline-primary w-100 d-block p-3 text-decoration-none">
                <i class="fas fa-book me-2"></i>AJOUTER UN PROGRAMME
            </a>
        </div>
    </div>
</div>