.bg-light{
    background-image: url('../../../../assets/images/mali.webp');
    background-repeat: no-repeat;       /* ❌ empêche la répétition */
    background-size: cover;             /* ✅ l’image s’adapte à la taille de l’écran */
    background-position: center;        /* ✅ centre l’image dans le conteneur */
    background-attachment: fixed;       /* (optionnel) effet fixe au défilement */
}