<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container breakpoint="md">
        <c-row class="justify-content-center">
            <c-col lg="10" xl="8">
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form cForm (ngSubmit)="onLogin()">
                                <h1>Administration</h1>
                                <p class="text-body-secondary">Espace Secondaire INTEC</p>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                                    <input autoComplete="username" cFormControl placeholder="Nom d'utilisateur" [(ngModel)]="credentials.username" name="username" />
                                </c-input-group>
                                <c-input-group class="mb-4">
                                    <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                                    <input autoComplete="current-password" cFormControl placeholder="Mot de passe" type="password" [(ngModel)]="credentials.password" name="password" />
                                </c-input-group>
                                <c-row>
                                    <c-col xs="6">
                                        <button cButton [disabled]="isLoading" class="px-4" color="primary" type="submit">
                      <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
                      <span *ngIf="!isLoading">Connexion</span>                       
                    </button>
                                    </c-col>
                                    <c-col class="text-right" xs="6">
                                        <button cButton class="px-0" color="link">
                      mot de passe oublié ?
                    </button>
                                    </c-col>
                                </c-row>
                            </form>
                            <p *ngIf="errersul" style="color: red;">{{ errorMessage }}</p>
                        </c-card-body>
                    </c-card>
                    <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
                        <img src="assets/images/etudiant.jpg" alt="">
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>