<div>
    <a [routerLink]="['/emploidutemps/emploidutemps']" class="btn btn-primary mb-4">Retour</a>
</div>

<div class="page-header m-4">
    <h3>Emplois du temps par classe</h3>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading m-3">
                <div class="row">
                    <div class="col-sm-3">
                        <select class="form-control" [(ngModel)]="selectedClasse">
                        <option value="">-- Choisir une classe --</option>
                        <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" [(ngModel)]="selectedAnnee">
                        <option value="">-- Choisir une année --</option>
                        <option *ngFor="let annee of annees" [value]="annee.id">{{ annee.nom }}</option>
                      </select>
                    </div>
                    <div class="col-sm-3">
                        <button (click)="afficherEmploi()" class="btn btn-primary">Afficher</button>
                    </div>
                </div>
            </div>

            <div class="panel-body">
                <table class="table table-bordered" *ngIf="emploiDuTemps.length > 0">
                    <thead>
                        <tr>
                            <td colspan="7">
                                <p class="h2">
                                    Classe : {{ selectedClasse }}
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <th>Horaires</th>
                            <th>Lundi</th>
                            <th>Mardi</th>
                            <th>Mercredi</th>
                            <th>Jeudi</th>
                            <th>Vendredi</th>
                            <th>Samedi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let horaire of getUniqueHoraires()">
                            <td>{{ horaire.debut }} -|- {{ horaire.fin }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Lundi') }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Mardi') }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Mercredi') }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Jeudi') }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Vendredi') }}</td>
                            <td>{{ getMatiereForDay(horaire, 'Samedi') }}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>