.emploi-table {

border: 2px solid black;

text-align: center;

}

.emploi-table th {

background-color: #e0e0e0;

border: 1px solid black;

}

.emploi-table td {

border: 1px solid black;

height: 70px;

vertical-align: middle;

}

.heure {

width: 180px;

font-weight: bold;

background-color: #f5f5f5;

}
