<c-card>
  <c-card-header>
    <strong>Gestion des emplois du temps</strong>
  </c-card-header>

  <c-card-body>
    <form [formGroup]="emploiForm" (ngSubmit)="onSubmit()">
      <div class="row g-3">
        <div class="col-md-3">
          <label>Jour</label>
          <select name="jour" id="" formControlName="jour" class="form-control">
            <option *ngFor="let j of jours" [value]="j">{{ j }}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label>Heure début</label>
          <input class="form-control" formControlName="heuredebut" type="time" />
        </div>
        <div class="col-md-2">
          <label>Heure fin</label>
          <input class="form-control" formControlName="heurefin" type="time" />
        </div>
        <div class="col-md-5">
          <label>Matière</label>
          <select name="matiere" class="form-control" formControlName="matiere">
            <option value="" *ngFor="let enseigne of enseignes" [value]="enseigne.matiere.id">
              {{ enseigne.matiere.libelle }} -- coefficient : {{ enseigne.matiere.coefficient }} horaire : {{ enseigne.matiere.horaire }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label>Enseignant</label>
          <select name="professeur" id="" class="form-control" formControlName="professeur">
            <option *ngFor="let e of enseignants" [value]="e.id">{{ e.prenom }} {{ e.nom }}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label>Classe</label>
          <select name="classe" id="" class="form-control" formControlName="classe">
            <option *ngFor="let c of classes" [value]="c.id">{{ c.nom }}</option>
          </select>
        </div>
        
        <div class="col-md-3">
          <label>Année universitaire</label>
          <select name="anneeuv" id="" class="form-control" formControlName="anneeuv">
            <option *ngFor="let a of anneeuvs" [value]="a.id">{{ a.nom }}</option>
          </select>
        </div>
      </div>

      <div class="mt-3">
        <button class="btn btn-primary" type="submit">
          {{ editMode ? 'Modifier' : 'Enregistrer' }}
        </button>
        <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()">Annuler</button>
      </div>
    </form>
  </c-card-body>
</c-card>

<hr />
<c-card>
  <c-card-body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Jour</th>
          <th>Heure Début</th>
          <th>Heure Fin</th>
          <th>Matière</th>
          <th>Professeur</th>
          <th>Classe</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let e of emplois">
          <td>{{ e.jour }}</td>
          <td>{{ e.heuredebut }}</td>
          <td>{{ e.heurefin }}</td>
          <td>{{ e.matiere.libelle }}</td>
          <td>{{ e.professeur.prenom }} {{ e.professeur.nom }}</td>
          <td>{{ e.classe.nom }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="edit(e)">✏️</button>
            <button class="btn btn-danger btn-sm ms-2" (click)="delete(e.id!)">🗑️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </c-card-body>
</c-card>
