<div class="page-header">
    <h1>Emploi du temps par jour</h1>
</div>

<div class="row">
    <div class="col-sm-3">
        <select [(ngModel)]="selectedAnnee" class="form-control">
          <option value="">-- Choisir une année --</option>
          <option *ngFor="let annee of annees" [value]="annee.id">{{ annee.nom }}</option>
      </select>
    </div>

    <div class="col-sm-2">
        <select [(ngModel)]="selectedJour" class="form-control">
          <option value="">-- Jour --</option>
          <option *ngFor="let jour of jours" [value]="jour">{{ jour }}</option>
      </select>
    </div>

    <div class="col-sm-2">
        <button (click)="afficherEmploi()" class="btn btn-primary">Afficher</button>
    </div>
</div>

<div *ngIf="emploiDuTemps.length > 0" class="panel panel-default mt-3">
    <div class="panel-heading">
        <h3>Emploi du temps pour {{ selectedJour }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Heure Début</th>
                    <th>Heure Fin</th>
                    <th>Matière</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emploi of emploiDuTemps">
                    <td>{{ emploi.heureDebut }}</td>
                    <td>{{ emploi.heureFin }}</td>
                    <td>{{ emploi.matiere }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>