<div class="panel panel-default">
    <div class="panel-heading">
        Fiche de pointage validée
    </div>

    <div class="panel-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Jour</th>
                    <th>Matière</th>
                    <th>Classe</th>
                    <th>Heure</th>
                    <th>NH</th>
                    <th>Enseignant</th>
                    <th>Tarif</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of pointages">
                    <td>{{ p.id }}</td>
                    <td>{{ p.emploidutemp.jour }}</td>
                    <td>{{ p.emploidutemp.matiere }}</td>
                    <td>{{ p.emploidutemp.classe }}</td>
                    <td>{{ p.emploidutemp.heuredebut }} - {{ p.emploidutemp.heurefin }}</td>
                    <td>{{ p.emploidutemp.matiere.horaire }}</td>
                    <td>{{ p.enseignant.prenom }} {{ p.enseignant.nom }}</td>
                    <td>{{ p.enseignant.tarif | number }}</td>
                    <td>{{ calculateMontant(p) | number }}</td>
                    <td>{{ p.datevalider }}</td>
                    <td>
                        <button class="btn btn-danger btn-sm" (click)="deletePointage(p.id)">
              <i class="glyphicon glyphicon-trash"></i>
            </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="alert alert-success">
            Montant total : <u>{{ montantTotal | number }} CFA</u> Avance sur salaire : <u>{{ avance | number }} CFA</u> Montant Net : <u>{{ montantTotal - avance | number }} CFA</u>
        </p>

        <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-info" target="_blank">
          Imprimer sa fiche de paiement
        </a>
            </div>
        </div>

    </div>
</div>
