<div class="panel panel-default">
    <div class="panel-heading">
        Fiche de pointage validée
    </div>

    <div class="panel-body">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Jour</th>
                    <th>Matière</th>
                    <th>Classe</th>
                    <th>Heure</th>
                    <th>NH</th>
                    <th>Enseignant</th>
                    <th>Tarif</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pointage of pointages">
                    <td>{{ pointage.id }}</td>
                    <td>{{ pointage.emploidutemp?.jour }}</td>
                    <td>{{ pointage.emploidutemp?.matiere?.libelle }}</td>
                    <td>{{ pointage.emploidutemp?.classe?.nom }}</td>
                    <td>{{ pointage.emploidutemp?.heuredebut }} - {{ pointage.emploidutemp?.heurefin }}</td>
                    <td>{{ pointage.emploidutemp?.matiere?.horaire }}</td>
                    <td>{{ pointage.enseignant?.prenom }} {{ pointage.enseignant?.nom }}</td>
                    <td>{{ pointage.enseignant?.tarif | number:'1.0-0' }}</td>
                    <td>{{ calculateMontant(pointage) | number:'1.0-0' }}</td>
                    <td>{{ pointage.datevalider }}</td>
                    <td>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p class="alert alert-success ">
            Montant total : <u>{{ montantTotal | number }} CFA</u> Avance sur salaire : <u>{{ avance | number }} CFA</u> Montant Net : <u>{{ montantTotal - avance | number }} CFA</u>
        </p>

        <div class="row ">
            <div class="col-sm-6 ">
                <a class="btn btn-info " target="_blank ">
          Imprimer sa fiche de paiement
        </a>
            </div>
        </div>

    </div>
</div>
