<div class="container">
    <h3>Emploi du temps journalier du {{ jour }} le {{ todayDate }}</h3>

    <a [href]="generatePrintUrl() " target="_blank " class="btn btn-success ">Imprimer</a>

    <div *ngFor="let classe of classes ">
        <h3 *ngIf="emplois.length> 0">{{ classe.nom }}</h3>

        <div *ngIf="emplois.length > 0">
            <div class="form-group">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Professeurs</th>
                            <th>Horaires</th>
                            <th>Matières</th>
                            <th>NBRE Heure</th>
                            <th>Emargement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let emploi of emplois">
                            <td>{{ emploi.professeur }}</td>
                            <td>{{ emploi.heuredebut | date:'shortTime' }} --|-- {{ emploi.heurefin | date:'shortTime' }}</td>
                            <td>{{ emploi.matiere }}</td>
                            <td>{{ emploi.matiere.horaire }}</td>
                            <td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
