<div class="row">

    <div class="d-flex justify-content-between mb-2">
        <a [routerLink]="['/avance/avance']" class="btn btn-primary mb-3">Retour</a>
        <a [routerLink]="[ '/avance/avance'] " class="btn btn-primary mb-4 ">Inscription</a>
    </div>
    <h2>Liste des eleves</h2>
</div>
<div class="row ">
    <div class="col-md-12 col-sm-12 ">
        <div class="card card-box ">
            <div class="card-body " id="bar-parent ">
                <div class="form-group ">
                    <div class="col-sm-12 mb-3">
                        <button (click)="imprimerListe() " class="btn btn-primary me-2">
                            <i class='fa fa-print'></i> Imprimer la liste
                        </button>
                        <button (click)="exporterExcel() " class="btn btn-primary ">
                            <i class='fa fa-download'></i> Export vers Excel
                        </button>
                    </div>
                </div>
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Matricule</th>
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>Classe</th>
                            <th>Année scolaire</th>
                            <th>Voir</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let eleve of eleves; let i=i ndex ">
                            <td>{{ i + 1 }}</td>
                            <td>{{ eleve.matricule }}</td>
                            <td>{{ eleve.prenom }}</td>
                            <td>{{ eleve.nom }}</td>
                            <td>{{ eleve.classe }}</td>
                            <td>{{ eleve.anneeScolaire }}</td>
                            <td>
                                <button (click)="voirDetail(eleve.id) " class="btn btn-primary ">
                                <i class='fa fa-info'></i>
                            </button>
                            </td>
                            <td>
                                <button (click)="modifierEleve(eleve.id) " class="btn btn-warning ">
                                <i class='fa fa-edit'></i>
                            </button>
                            </td>
                            <td>
                                <button (click)="supprimerEleve(eleve.id) " class="btn btn-danger ">
                                <i class='fa fa-trash'></i>
                            </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>