<div class="card p-3 shadow">

    <h3 class="mb-3 text-danger">Afficher la liste des élèves de {{nomEcole}} par classe et par année pour exclusion</h3>

    <!-- Recherche -->
    <div class="row mb-3">
        <div class="col-md-4">

            <select [(ngModel)]="classeId" class="form-control">
              
        <option value="">-- Classe --</option>
        <option *ngFor="let c of classes" [value]="c.id">
          {{ c.nom }}
        </option>
      </select>
        </div>

        <div class="col-md-4">
            <select [(ngModel)]="anneeId" class="form-control">
        <option value="">-- Année --</option>
        <option *ngFor="let a of annees" [value]="a.id">
          {{ a.nom }}
        </option>
      </select>
        </div>

        <div class="col-md-4">
            <button class="btn btn-info w-100" (click)="rechercher()">
        Rechercher
      </button>
        </div>
    </div>

    <!-- Tableau -->
    <table class="table table-bordered" *ngIf="eleves.length">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    <input type="checkbox" (change)="toggleAll($event)">
                </th>
                <th>Matricule</th>
                <th>Prénom</th>
                <th>Nom</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let e of eleves; let i = index">
                <td>{{ i + 1 }}</td>
                <td>
                    <input type="checkbox" (change)="toggleEleve(e.id, $event)">
                </td>
                <td>{{ e.eleve.matricule }}</td>
                <td>{{ e.eleve.prenom }}</td>
                <td>{{ e.eleve.nom }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Motif -->
    <div class="mt-3" *ngIf="eleves.length">
        <p class="alert alert-warning h5 text-center">
            Selectionner ou choisir l'ensemble des élèves pour leurs exclusion
        </p>
        <label>Motif</label>
        <textarea [(ngModel)]="motif" class="form-control" rows="3" placeholder="Entrer le motif..."></textarea>
    </div>

    <!-- Bouton -->
    <div class="mt-3 text-end" *ngIf="eleves.length">
        <button class="btn btn-danger" [disabled]="!selectedEleves.length || !motif" (click)="exclure()">
      Exclure les élèves sélectionnés
    </button>
    </div>

</div>