<div class="container mt-4">
  <h3>Liste des Enseignements</h3>
  <a routerLink="new" class="btn btn-primary mb-3">Ajouter</a>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Matière</th>
        <th>Classe</th>
        <th>Enseignant</th>
        <th>École</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of enseignants; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ e.matiere.libelle }}</td>
        <td>{{ e.classe.nom }}</td>
        <td>{{ e.enseignant.prenom }} {{ e.enseignant.nom }}</td>
        <td>{{ e.ecole.nomEcole }}</td>
        <td>
          <a [routerLink]="['/enseigner/edit', e.id]" class="btn btn-warning btn-sm">✏️</a>
          <button class="btn btn-danger btn-sm" (click)="delete(e.id!)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
