<div class="d-flex justify-content-between align-items-center mb-3">
  <h4 class="mb-0">
    <i class="fa fa-school me-2 text-primary"></i> Liste des supports / classes
  </h4>
  <a routerLink="add" class="btn btn-primary">
    <i class="fa fa-plus-circle me-1"></i> Ajouter un support
  </a>
</div>
<div class="row g-3 mb-4">
  <div class="col-md-3 col-sm-6" *ngFor="let c of classes">
    <div class="card border-0 shadow-sm h-100 hover-shadow">
      <div class="card-body text-center">
        <i class="fa fa-school text-primary fa-2x mb-2"></i>
        <h6 class="card-title fw-bold mb-1">{{ c.nom }}</h6>
        <p class="text-muted small mb-3">
          <span class="me-2">{{ c.description }}</span>
        </p>
        <a [routerLink]="['./classes', c.id]"  class="btn btn-sm btn-primary mt-2">
          <i class="fa fa-eye me-1"></i> Voir les matières
        </a>
      </div>
    </div>
  </div>
</div>

