<div>
    <a [routerLink]="['/emploidutemps/emploidutemps']" class="btn btn-primary mb-4">Retour</a>
</div>
<div class="container">
    <h3 class="mb-4 text-center">Enregistrer un emploi du temps</h3>

    <form [formGroup]="emploiForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <select id="annee" formControlName="annee" class="form-control">
                      <option value="">-- Année --</option>
                      <option *ngFor="let annee of annees" [value]="annee.id">{{ annee.nom }}</option>
                  </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <select id="jour" formControlName="jour" class="form-control">
                      <option value="">-- Jour --</option>
                      <option *ngFor="let jour of jours" [value]="jour">{{ jour }}</option>
                  </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <select id="matiere" formControlName="matiere" class="form-control">
                      <option value="">-- Matière --</option>
                      <option *ngFor="let matiere of matieres" [value]="matiere.id">
                          {{ matiere.libelle }} (Coef: {{ matiere.coefficient }}, Horaire: {{ matiere.horaire }})
                      </option>
                  </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <select id="professeur" formControlName="professeur" class="form-control">
                      <option value="">-- Professeur --</option>
                      <option *ngFor="let prof of professeurs" [value]="prof.id">
                          {{ prof.matricule }} - {{ prof.nom }}
                      </option>
                  </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group mb-3">
                    <select id="classe" formControlName="classe" class="form-control">
                      <option value="">-- Classe --</option>
                      <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
                  </select>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group mb-3">
                    <label for="heuredebut">Heure de début</label>
                    <input id="heuredebut" type="time" formControlName="heuredebut" class="form-control" required>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group mb-3">
                    <label for="heurefin">Heure de fin</label>
                    <input id="heurefin" type="time" formControlName="heurefin" class="form-control" required>
                </div>
            </div>
        </div>

        <!-- Bouton d'enregistrement -->
        <div class="form-group text-center mt-4">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
    </form>
</div>
